*.o
arm2hpdl
crd
foo2hbpl1
foo2hbpl2
foo2hiperc
foo2hp
foo2lava
foo2oak
foo2qpdl
foo2slx
foo2xqx
foo2zjs
foo2zjs-pstops
foomatic-db
gipddecode
hbpldecode
hipercdecode
icc2ps
lavadecode
modify-ppd
oakdecode
opldecode
osx-hotplug
PPD
printer-profile
qpdldecode
slxdecode
usb_printerid
xqxdecode
zjsdecode
